<a href="https://colab.research.google.com/github/shohdy-source/Machine-Learing-Deep-Learning-/blob/main/Using%20Diet%20to%20Predict%20COVID-19%20Mortality%20(Ann).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given data about various countries and their daily intakes of different food groups, let's try to predict whether a given country will have a high or low COVID-19 mortality rate.

We will use a TensorFlow ANN to make our predictions.

In [2]:
import numpy as np
import pandas as pd
import plotly.express as px

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import tensorflow as tf
import io

In [3]:
from google.colab import files


uploaded = files.upload()

Saving Food_Supply_Quantity_kg_Data.csv to Food_Supply_Quantity_kg_Data.csv

In [4]:
data = pd.read_csv(io.BytesIO(uploaded['Food_Supply_Quantity_kg_Data.csv']))
data

                                Country  ...  Unit (all except Population)
0                           Afghanistan  ...                             %
1                               Albania  ...                             %
2                               Algeria  ...                             %
3                                Angola  ...                             %
4                   Antigua and Barbuda  ...                             %
..                                  ...  ...                           ...
165  Venezuela (Bolivarian Republic of)  ...                             %
166                             Vietnam  ...                             %
167                               Yemen  ...                             %
168                              Zambia  ...                             %
169                            Zimbabwe  ...                             %

[170 rows x 32 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       170 non-null    object
 1   Alcoholic Beverages           170 non-null    float64
 2   Animal fats                   170 non-null    float64
 3   Animal Products               170 non-null    float64
 4   Aquatic Products, Other       170 non-null    float64
 5   Cereals - Excluding Beer      170 non-null    float64
 6   Eggs                          170 non-null    float64
 7   Fish, Seafood                 170 non-null    float64
 8   Fruits - Excluding Wine       170 non-null    float64
 9   Meat                          170 non-null    float64
 10  Milk - Excluding Butter       170 non-null    float64
 11  Miscellaneous                 170 non-null    float64
 12  Offals                        170 non-null    float64
 13  Oilcrops                      170 non-null    float64
 14  Pulses                        170 non-null    float64
 15  Spices                        170 non-null    float64
 16  Starchy Roots                 170 non-null    float64
 17  Stimulants                    170 non-null    float64
 18  Sugar & Sweeteners            170 non-null    float64
 19  Sugar Crops                   170 non-null    float64
 20  Treenuts                      170 non-null    float64
 21  Vegetable Oils                170 non-null    float64
 22  Vegetables                    170 non-null    float64
 23  Vegetal Products              170 non-null    float64
 24  Obesity                       167 non-null    float64
 25  Undernourished                163 non-null    object
 26  Confirmed                     164 non-null    float64
 27  Deaths                        164 non-null    float64
 28  Recovered                     164 non-null    float64
 29  Active                        162 non-null    float64
 30  Population                    170 non-null    float64
 31  Unit (all except Population)  170 non-null    object
dtypes: float64(29), object(3)
memory usage: 42.6+ KB

**Preprocessing**

In [6]:
data = data.drop('Unit (all except Population)', axis=1)


**Missing Values**

In [7]:
data.isna().sum()

Country                     0
Alcoholic Beverages         0
Animal fats                 0
Animal Products             0
Aquatic Products, Other     0
Cereals - Excluding Beer    0
Eggs                        0
Fish, Seafood               0
Fruits - Excluding Wine     0
Meat                        0
Milk - Excluding Butter     0
Miscellaneous               0
Offals                      0
Oilcrops                    0
Pulses                      0
Spices                      0
Starchy Roots               0
Stimulants                  0
Sugar & Sweeteners          0
Sugar Crops                 0
Treenuts                    0
Vegetable Oils              0
Vegetables                  0
Vegetal Products            0
Obesity                     3
Undernourished              7
Confirmed                   6
Deaths                      6
Recovered                   6
Active                      8
Population                  0
dtype: int64

In [8]:
for column in data.columns:
    if data.dtypes[column] != 'object' and data.isna().sum()[column] > 0:
        data[column] = data[column].fillna(data[column].mean())

**Dealing with the Undernourished column**

In [9]:
data['Undernourished'].value_counts()

<2.5    44
2.7      3
7.1      3
16.5     3
6.2      3
        ..
8.1      1
27.3     1
16.4     1
26.4     1
3.2      1
Name: Undernourished, Length: 98, dtype: int64

In [10]:
undernourished_numeric = data.loc[data['Undernourished'] != '<2.5', 'Undernourished'].astype(np.float)
undernourished_numeric

0      29.8
1       6.2
2       3.9
3      25.0
4       NaN
       ...
165    21.2
166     9.3
167    38.9
168    46.7
169    51.3
Name: Undernourished, Length: 126, dtype: float64

In [11]:
undernourished_numeric = undernourished_numeric.fillna(undernourished_numeric.mean())
undernourished_numeric = pd.qcut(undernourished_numeric, q=3, labels=[1, 2, 3])
undernourished_numeric

0      3
1      1
2      1
3      3
4      2
      ..
165    3
166    2
167    3
168    3
169    3
Name: Undernourished, Length: 126, dtype: category
Categories (3, int64): [1 < 2 < 3]

In [12]:
data.loc[undernourished_numeric.index, 'Undernourished'] = undernourished_numeric

In [13]:
data['Undernourished'] = data['Undernourished'].apply(lambda x: 0 if x == '<2.5' else x)

In [14]:
data['Undernourished'].value_counts()

0    44
3    42
2    42
1    42
Name: Undernourished, dtype: int64

In [15]:
data

                                Country  ...  Population
0                           Afghanistan  ...  38928000.0
1                               Albania  ...   2838000.0
2                               Algeria  ...  44357000.0
3                                Angola  ...  32522000.0
4                   Antigua and Barbuda  ...     98000.0
..                                  ...  ...         ...
165  Venezuela (Bolivarian Republic of)  ...  28645000.0
166                             Vietnam  ...  96209000.0
167                               Yemen  ...  29826000.0
168                              Zambia  ...  18384000.0
169                            Zimbabwe  ...  14863000.0

[170 rows x 31 columns]


**Feature and Target Selection**

In [16]:
data = data.drop('Country', axis=1)

data = data.drop(['Confirmed', 'Recovered', 'Active'], axis=1)

In [17]:
pd.qcut(data['Deaths'], q=2, labels=[0, 1]).value_counts()

1    85
0    85
Name: Deaths, dtype: int64

In [18]:
data['Deaths'] = pd.qcut(data['Deaths'], q=2, labels=[0, 1])


**Splitting and Scaling**

In [19]:
data

     Alcoholic Beverages  Animal fats  ...  Deaths  Population
0                 0.0014       0.1973  ...       0  38928000.0
1                 1.6719       0.1357  ...       1   2838000.0
2                 0.2711       0.0282  ...       0  44357000.0
3                 5.8087       0.0560  ...       0  32522000.0
4                 3.5764       0.0087  ...       0     98000.0
..                   ...          ...  ...     ...         ...
165               2.5952       0.0403  ...       0  28645000.0
166               1.4591       0.1640  ...       0  96209000.0
167               0.0364       0.0446  ...       0  29826000.0
168               5.7360       0.0829  ...       0  18384000.0
169               4.0552       0.0755  ...       0  14863000.0

[170 rows x 27 columns]

In [20]:
y = data['Deaths']
X = data.drop('Deaths', axis=1)

In [21]:
scaler = StandardScaler()

X = scaler.fit_transform(X)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

**Training**

In [23]:
X.shape

(170, 26)

In [24]:
inputs = tf.keras.Input(shape=(26,))
x = tf.keras.layers.Dense(64, activation='relu')(inputs)
x = tf.keras.layers.Dense(64, activation='relu')(x)
outputs = tf.keras.layers.Dense(1, activation='sigmoid')(x)

model = tf.keras.Model(inputs=inputs, outputs=outputs)


model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=[
        'accuracy',
        tf.keras.metrics.AUC(name='auc')
    ]
)


batch_size = 64
epochs = 14

history = model.fit(
    X_train,
     y_train,
    validation_split=0.2,
    batch_size=batch_size,
    epochs=epochs,
    verbose=0
)

**Results**

In [25]:
fig = px.line(
    history.history,
    y=['loss', 'val_loss'],
    labels={'index': "Epoch", 'value': "Loss"},
    title="Training and Validation Loss"
)

fig.show()

In [26]:
np.argmin(history.history['val_loss'])

4

In [27]:
model.evaluate(X_test, y_test)

2/2 [==============================] - 0s 5ms/step - loss: 0.4371 - accuracy: 0.8235 - auc: 0.8768

[0.43709972500801086, 0.8235294222831726, 0.8767856955528259]

In [28]:
len(y_test)

34