<a href="https://colab.research.google.com/github/shohdy-source/Machine-Learing-Deep-Learning-/blob/main/Xgboost%20_%20Automobile%20Price%20Predection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

we are looking at a dataset of automobiles and trying to predict the price of a given automobile. We will be using XGBoost regression to make our predictions.

In [2]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import xgboost as xgb

from sklearn.metrics import r2_score
import io

In [3]:
from google.colab import files


uploaded = files.upload()

Saving Automobile_data.csv to Automobile_data.csv

In [5]:
data = pd.read_csv(io.BytesIO(uploaded['Automobile_data.csv']))
data

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3                 ?  alfa-romero  ...       21          27  13495
1            3                 ?  alfa-romero  ...       21          27  16500
2            1                 ?  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [7]:
data = data.replace(-1, np.NaN)
data = data.replace('?', np.NaN)

In [8]:
for column in ['normalized-losses', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price']:
    data[column] = data[column].astype(np.float)

In [9]:
data

     symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          3.0                NaN  alfa-romero  ...       21          27  13495.0
1          3.0                NaN  alfa-romero  ...       21          27  16500.0
2          1.0                NaN  alfa-romero  ...       19          26  16500.0
3          2.0              164.0         audi  ...       24          30  13950.0
4          2.0              164.0         audi  ...       18          22  17450.0
..         ...                ...          ...  ...      ...         ...      ...
200        NaN               95.0        volvo  ...       23          28  16845.0
201        NaN               95.0        volvo  ...       19          25  19045.0
202        NaN               95.0        volvo  ...       18          23  21485.0
203        NaN               95.0        volvo  ...       26          27  22470.0
204        NaN               95.0        volvo  ...       19          25  22625.0

[205 rows x 26 columns]

In [10]:
data.dtypes

symboling            float64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [11]:
data.isna().sum()

symboling            22
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [12]:
for column in data.columns:
    if data.dtypes[column] != 'object' and data.isna().sum()[column] > 0: # For all numeric columns with missing values
        data[column] = data[column].fillna(data[column].mean()) # Fill missing values with the column's mean

In [13]:
data.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

**Encoding Ordinal Features**

In [14]:
{column: list(data[column].unique()) for column in data.columns if data.dtypes[column] == 'object'}

{'aspiration': ['std', 'turbo'],
 'body-style': ['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
 'drive-wheels': ['rwd', 'fwd', '4wd'],
 'engine-location': ['front', 'rear'],
 'engine-type': ['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'],
 'fuel-system': ['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
 'fuel-type': ['gas', 'diesel'],
 'make': ['alfa-romero',
  'audi',
  'bmw',
  'chevrolet',
  'dodge',
  'honda',
  'isuzu',
  'jaguar',
  'mazda',
  'mercedes-benz',
  'mercury',
  'mitsubishi',
  'nissan',
  'peugot',
  'plymouth',
  'porsche',
  'renault',
  'saab',
  'subaru',
  'toyota',
  'volkswagen',
  'volvo'],
 'num-of-cylinders': ['four',
  'six',
  'five',
  'three',
  'twelve',
  'two',
  'eight'],
 'num-of-doors': ['two', 'four', nan]}

In [15]:
numeric_ordering ={
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'eight': 8,
    'twelve': 12
}

data['num-of-cylinders'] = data['num-of-cylinders'].replace(numeric_ordering)

In [16]:
data

     symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0     3.000000              122.0  alfa-romero  ...       21          27  13495.0
1     3.000000              122.0  alfa-romero  ...       21          27  16500.0
2     1.000000              122.0  alfa-romero  ...       19          26  16500.0
3     2.000000              164.0         audi  ...       24          30  13950.0
4     2.000000              164.0         audi  ...       18          22  17450.0
..         ...                ...          ...  ...      ...         ...      ...
200   1.054645               95.0        volvo  ...       23          28  16845.0
201   1.054645               95.0        volvo  ...       19          25  19045.0
202   1.054645               95.0        volvo  ...       18          23  21485.0
203   1.054645               95.0        volvo  ...       26          27  22470.0
204   1.054645               95.0        volvo  ...       19          25  22625.0

[205 rows x 26 columns]

**Filling Remaining Missing Values**

In [17]:
data['num-of-doors'].mode()

0    four
dtype: object

In [18]:
data['num-of-doors'] = data['num-of-doors'].apply(lambda x: 0 if x == 'two' else 1)

In [19]:
print("Total missing values:", data.isna().sum().sum())

Total missing values: 0

**Encoding Nominal Features**

In [20]:
data

     symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0     3.000000              122.0  alfa-romero  ...       21          27  13495.0
1     3.000000              122.0  alfa-romero  ...       21          27  16500.0
2     1.000000              122.0  alfa-romero  ...       19          26  16500.0
3     2.000000              164.0         audi  ...       24          30  13950.0
4     2.000000              164.0         audi  ...       18          22  17450.0
..         ...                ...          ...  ...      ...         ...      ...
200   1.054645               95.0        volvo  ...       23          28  16845.0
201   1.054645               95.0        volvo  ...       19          25  19045.0
202   1.054645               95.0        volvo  ...       18          23  21485.0
203   1.054645               95.0        volvo  ...       26          27  22470.0
204   1.054645               95.0        volvo  ...       19          25  22625.0

[205 rows x 26 columns]

In [21]:
{column: list(data[column].unique()) for column in data.columns if data.dtypes[column] == 'object'}

{'aspiration': ['std', 'turbo'],
 'body-style': ['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
 'drive-wheels': ['rwd', 'fwd', '4wd'],
 'engine-location': ['front', 'rear'],
 'engine-type': ['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'],
 'fuel-system': ['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
 'fuel-type': ['gas', 'diesel'],
 'make': ['alfa-romero',
  'audi',
  'bmw',
  'chevrolet',
  'dodge',
  'honda',
  'isuzu',
  'jaguar',
  'mazda',
  'mercedes-benz',
  'mercury',
  'mitsubishi',
  'nissan',
  'peugot',
  'plymouth',
  'porsche',
  'renault',
  'saab',
  'subaru',
  'toyota',
  'volkswagen',
  'volvo']}

In [22]:
def binary_encode(df, columns, positive_values):
    df = df.copy()
    for column, positive_value in zip(columns, positive_values):
        df[column] = df[column].apply(lambda x: 1 if x == positive_value else 0)
    return df

In [23]:
binary_features = [
    'fuel-type',
    'aspiration',
    'engine-location',
]

binary_positive_values = [
    'diesel',
    'turbo',
    'front'
]

data = binary_encode(
    data,
    columns=binary_features,
    positive_values=binary_positive_values
)

In [24]:
data

     symboling  normalized-losses         make  ...  city-mpg  highway-mpg    price
0     3.000000              122.0  alfa-romero  ...        21           27  13495.0
1     3.000000              122.0  alfa-romero  ...        21           27  16500.0
2     1.000000              122.0  alfa-romero  ...        19           26  16500.0
3     2.000000              164.0         audi  ...        24           30  13950.0
4     2.000000              164.0         audi  ...        18           22  17450.0
..         ...                ...          ...  ...       ...          ...      ...
200   1.054645               95.0        volvo  ...        23           28  16845.0
201   1.054645               95.0        volvo  ...        19           25  19045.0
202   1.054645               95.0        volvo  ...        18           23  21485.0
203   1.054645               95.0        volvo  ...        26           27  22470.0
204   1.054645               95.0        volvo  ...        19           25  22625.0

[205 rows x 26 columns]

In [25]:
def onehot_encode(df, columns, prefixes):
    df = df.copy()
    for column, prefix in zip(columns, prefixes):
        dummies = pd.get_dummies(df[column], prefix=prefix)
        df = pd.concat([df, dummies], axis=1)
        df = df.drop(column, axis=1)
    return df

In [26]:
nominal_features = [
    'make',
    'body-style',
    'drive-wheels',
    'engine-type',
    'fuel-system'
]

prefixes = [
    'MK',
    'BS',
    'DW',
    'ET',
    'FS'
]

data = onehot_encode(
    data,
    columns=nominal_features,
    prefixes=prefixes
)

In [27]:
data

     symboling  normalized-losses  fuel-type  ...  FS_mpfi  FS_spdi  FS_spfi
0     3.000000              122.0          0  ...        1        0        0
1     3.000000              122.0          0  ...        1        0        0
2     1.000000              122.0          0  ...        1        0        0
3     2.000000              164.0          0  ...        1        0        0
4     2.000000              164.0          0  ...        1        0        0
..         ...                ...        ...  ...      ...      ...      ...
200   1.054645               95.0          0  ...        1        0        0
201   1.054645               95.0          0  ...        1        0        0
202   1.054645               95.0          0  ...        1        0        0
203   1.054645               95.0          1  ...        0        0        0
204   1.054645               95.0          0  ...        1        0        0

[205 rows x 66 columns]

In [28]:
print("Total non-numeric columns:", (data.dtypes == 'object').sum())

Total non-numeric columns: 0

**Splitting/Scaling**

In [29]:
y = data['price'].copy()
X = data.drop('price', axis=1).copy()

In [30]:
scaler = StandardScaler()

X = scaler.fit_transform(X)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=20)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=20)

In [32]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dval = xgb.DMatrix(X_val, label=y_val)
dtest = xgb.DMatrix(X_test, label=y_test)

**Training**

In [33]:
params = {'learning_rate': 0.001, 'max_depth': 6}

model = xgb.train(params, dtrain, evals=[(dval, 'eval')], num_boost_round=10000, early_stopping_rounds=10, verbose_eval=False)

**Results**

In [35]:
y_true = np.array(y_test, dtype=np.float)
y_pred = np.array(model.predict(dtest), dtype=np.float)

In [36]:
print("R^2 Score: {:.4f}".format(r2_score(y_true, y_pred)))

R^2 Score: 0.4531